- provide(:title, 'Sign up')

.container
  .row
    .col-lg-8.col-lg-offset-2.well
      %h1.col-lg-offset-2.text-center Sign up
      = form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f|
        = render 'fields', f: f
        .form-group
          .col-lg-offset-2.col-lg-8
            = f.submit 'Sign up', class: 'btn btn-primary'
            \- or - #{link_to 'Sign in', signin_path}