.progress.pull-right{style: 'width: 50%'}
  .progress-bar{class: "progress-bar-#{calc_progress(percent)}", role: 'progressbar', style: "width: #{percent}%", aria: {valuenow: percent, valuemin: '0', valuemax: '100'}}
    %span.sr-only #{percent}%}
