- provide(:title, 'About')

.jumbotron.black-bg#about1
  .container.text-center#header-threshold
    %h1 ABOUT US.

.jumbotron.white-bg
  .container.text-center
    %h2.purple{cite: 'http://ridesnap.com'} "By providing a door to door white glove service, RideSnap brings the experience of owning a car full circle."
    %p For many people, owning a car means convenience to their life, but when it comes time to selling one, what was used as a time saver now becomes a hassle. RideSnap wants to take this time consuming and stressful process out of the seller's hands and make it simple like it should be. RideSnap is not a dealership, and does not buy cars to resell. Instead, RideSnap does the selling for you through peer to peer marketplaces. By providing a door to door white glove service, RideSnap brings the experience of owning a car full circle.

.jumbotron.whitesmoke-bg
  .container.text-center
    %h2.purple A Brief History
    %p RideSnap started as a way to help friends and family who didn't have time or know how to sell their own car. The first car sold was a Honda Civic! Lending the helping hand to more people, RideSnap was able to sell cars ranging from commuters, SUVs, to even a high-end Porsche 911 Turbo S. RideSnap has grown into the company it is today because it provides a simple solution.

.jumbotron.white-bg
  .container.text-center
    %h2.purple The Team
    %p
      %b Steven Lam
      Co-Founder
    %p
      %b Melbs Lemiuex
      Co-Founder