- provide(:title, 'FAQ')

.jumbotron.black-bg
  .container.text-center
    %h1 Frequently Asked Questions.

.jumbotron.white-bg
  .container
    %h3 GETTING STARTED
    %p.purple How do you determine the listing prices?
    %p Listing price is determined by a combination of data from KBB, Edmunds, Craigslist, and your location.
    %p.purple Do I need to take pictures of my car?
    %p No, our Agent will take high quality pictures of your car during the scheduled meeting for you. The photos will be used for the ads.
    %p.purple What if I still need my car?
    %p No worries, keep using your car during the selling process. We work around your needs!
    %p.purple How do you schedule test drives?
    %p Once a buyer notifies RideSnap they are interested in a test drive, our Agent will coordinate with you to see when your car is available. With the spare key you leave our Agent, they will give a test drive during those available times. Buyers will get to test drive your car, and you will never be bothered.
    %p.purple What happens if my car gets into an accident during a test drive?
    %p We make sure that people test driving your car are insured and that we are present at all times.
    %p.purple How do I save more money than a dealership?
    %p We are comparing how much money you will get from a dealership if you are doing a trade-in versus how much money you can get if RideSnap sells your car. With a trade-in, dealerships under value your car by 10-20% so they can resell it themselves to make a larger profit. Because RideSnap directly sells your car to private party buyers, we never mark it down for our own profit.
    %h3 PREPARATION & INSPECTION
    %p.purple What do you need from me?
    %p We will need the following documents. If you don't know what the following documents are, we can help you prepare.
    %ul
      %li Valid Registration
      %li Smog Certificate valid in the last 90 days
      %li Bill of Sale
      %li Title
      %li If you have a lien hold, we can still work with you. It will just take a few extra steps
    %p.purple What is the car inspection for?
    %p Our Agent inspects your car to make sure there are no major issues that can affect your listing price. Your car's current condition can either bring the value of your car up, or take it down. The better the condition of your car, the more you will make.
    %p.purple What if there is something wrong with my car?
    %p We will sell your car no matter what condition it's in. But if you know there are major problems, try to get those fixed so it makes buyers more interested. You can also leave it as is, but beware, buyers don't like that.
    %h3 SALE PROCESS & FEES
    %p.purple What happens if you can't sell my car?
    %p
      We believe we have the team to sell your car in 31 days or less. However if we don't, you have the option of taking back your car or accepting our
      %b BUY IT NOW
      price.
    %p.purple
      What is the
      %b BUY IT NOW
      price?
    %p
      The
      %b BUY IT NOW
      price is the price we will offer you to take the car off your hands right away. It is slightly less than the listing price we quote you because we are now taking on all the risk.
    %p.purple How long does it take to sell my car?
    %p Give us 31 days or less, starting from the time your RideSnap ad goes live.
    %p.purple What if there is a lien hold?
    %p Lien holds complicate things but we can still manage. We will just have to take a few extra steps with you and the corresponding bank.
    %p.purple How do I get paid?
    %p We will transfer the money to any bank account you wish, or write you a check.
    %p.purple How does title transfer work?
    %p During our first meeting we will ask you to presign your Title. This will save us time later so we don't need to hold up the buyer. During the final transaction, we will exchange the title for money.