ul#time-money {
  font-size: 0px;
  li {
    display: inline-block;
    margin: 0 5px;
  }
}
ul#how-it-works {
  font-size: 0px;
  li {
    display: inline-block;
    margin-top: -1px;
    margin-left: -1px;
    &:not(.active) a.btn {
      background-color: rgba(0,0,0,0) !important;
      color: #333 !important;
    }
  }
}

p.main-text {
  margin-bottom: 75px;
}

.section-black {
  background-color: #000;
  padding-bottom: 3em;
  padding-top: 6em;
  color: #fff;
  .h2 {
    margin: 0;
    padding: 44px 0;
    text-align: center;
  }
  .img-responsive {
    margin: 0 auto;
  }
}