// keeps footer stuck to bottom
html, body {
  height: 100%;
  font-family: 'Roboto';
  .wrapper {
    min-height: 100%;
  }
  header, footer {
    border: none !important;
    border-radius: 0 !important;
    li a { color: white !important; }
    &.navbar-inverse .navbar-nav .active a,
    &.navbar-inverse .navbar-nav .active a:hover,
    &.navbar-inverse .navbar-nav .active a:focus {
      background-color: rgba(0,0,0,0) !important;
    }
    li.active a:after,
    li:not(.social) a:hover:after {
      content: '';
      border-bottom: $purple solid 2px;
      padding: 0 50%;
      margin: 0 auto;
      position: absolute;
      left: 15px;
      top: 75%;
    }
  }
  header {
    background-color: $header !important;
  }
  footer {
    margin: -75px auto 0 auto;
    .social a{
      padding: 0px 5px;
    }
  }
  .content {
    padding-bottom: 70px;
  }
}

.debug_dump {
  position: absolute;
  bottom: 82px;
  float: left;
  display: none;
}

.purple {
  color: $purple !important;
}

.jumbotron:first-child {
  @include background-image-default;
  height: 500px;
  .container {
    margin-top: 140px;
  }
  &#home1 {
    background-image: image-url('driver_mobile_bw.jpg');
  }
  &#home2 {
    // background-image: image-url('');
  }
  &#start1 {
    background-image: image-url('dashboard_bw.jpg');
  }
  &#faq1 {
    background-image: image-url('bridge_bw.jpg');
  }
}