form#vehicle-query {
  .form-group {
    margin: 5px auto 15px auto;
  }
}

form#vehicle-inspection {
  .form-group {
    margin: 5px auto 15px auto;
  }
}

.circle {
  margin: 0 auto;
  .words {
    position: absolute;
    top: calc(50% - 46px);
    left: 0;
    right: 0;
  }
  &:hover {
    color: $purple;
  }
  svg {
    fill: none;
    &.grey {
      stroke: lightgrey;
      color: lightgrey !important;
    }
    &.purple {
      stroke: $purple;
      color: $purple !important;
    }
    &.black {
      stroke: black;
      color: black !important;
    }
  }
}