form#vehicle-query {
  .form-group {
    margin: 5px auto 15px auto;
  }
}

form#vehicle-inspection {
  .form-group {
    margin: 5px auto 15px auto;
  }
}

svg.circle {
  fill: none;
  &:hover {

  }
  &.grey {
    stroke: lightgrey;
    color: lightgrey !important;
  }
  &.purple {
    stroke: $purple;
    color: $purple !important;
  }
  &.black {
    stroke: black;
    color: black !important;
  }
}