form#vehicle-query {
  .form-group {
    margin: 5px auto 15px auto;
  }
}

form#vehicle-inspection {
  .form-group {
    margin: 5px auto 15px auto;
  }
}

#results-circles {
  justify-content: center;
  align-items: center;
  .circle {
    margin: 0 auto;
    transition-duration: 2s;
    .words {
      position: absolute;
      top: calc(50% - 46px);
      left: 0;
      right: 0;
    }
    &:hover {
      color: $purple;
    }
    svg {
      fill: none;
      &.grey {
        stroke: lightgrey;
        color: lightgrey !important;
      }
      &.purple {
        stroke: $purple;
        color: $purple !important;
      }
      &.black {
        stroke: black;
        color: black !important;
      }
    }
  }
}

.vehicle {
  position: relative;
  z-index: 5;
  border-radius: 0px !important;
  padding: 0px;
  .market-list {
    .mini-words {
      position: absolute;
      width: 95%;
      bottom: -15px;
    }
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    img {
      max-height: 190px;
    }
  }
}
.actions {
  position: relative;
  z-index: 4;
  top: -41px;
  @extend .list-group-item;
  height: 42px;
  border-radius: 0px !important;
  &.accept{
    @extend .list-group-item-success;
  }
  &.reject{
    @extend .list-group-item-danger;
  }
}

/* Indicators list style */
#vehicle-images.carousel.slide .carousel-indicators {
  li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
  }
  img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
  }
  .active img {
    border: 2px solid $purple;
    opacity: 0.7;
  }
}

.hoverable {
  padding: 1px;
  .overlay {
    transition: opacity 0.5s, background-color 0.5s, ease-in-out;
    z-index: 10;
    // opacity: 0.3;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 30px;
    &:hover, &.hover {
      opacity: 1;
      background-color: rgba(255,255,255,.9);
    }
  }
  > img {
    // max-height: 200px;
    // height: 280px;
    margin: auto;
    opacity: 0.18;
    width: 100%;
  }
  .img-svg {
    max-width: 70px;
    width: 70px;
  }
  a {
    color: #333;
  }
}

.remove-image {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  &:hover,
  &:focus {
    color: #d2322d;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
  }
  z-index: 99;
}

.report-option {
  padding-bottom: 15px;
  .report-conditions {
    // width: 50%;
    display: flex;
    justify-content: space-around;
    .btn {
      border: medium none;
      font-weight: normal;
      line-height: 18px;
      padding: 0;
      text-transform: uppercase;
      width: 55px;
      &:not(.active) {
        // @extend .btn-default;
        background-color: #ccc;
        color: #fff;
        &:hover {
          background-color: #ccc !important;
          color: #fff !important;
        }
      }
    }
    &.none {
      a:hover {
        cursor: default;
      }
    }
  }
  p {
    margin: 0;
    color: #666;
  }
}


/* Additional */

.high_light {
  p {
    color: #666;
  }
  span {
    color: #998675;
  }
}

.title-grey {
  background-color: #999999;
  color: #fff;
  h1 {
    font-weight: bold;
    margin: 0;
    padding: 16px 0;
  }
}

.inspection {
  font-size: 20px;
  margin: 20px 0 30px;
  span {
    color: #009245;
  }
}

.icons_high_light {
  text-align: center;
}

.report-img, .report-comment {
  display: none;
  &:first-child {
    display: inline;
  }
}

.report-img {
  margin: 15px 0;
}

.data-filter {
  background-color: black;
  margin-top: -40px;
  padding: 1em 0;
}

.filter-apply {
  display: block;
  margin-top: 1em;
  .filter {
    background-color: black;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-right: 0.5em;
    padding: 0.5em 1.5em 0.5em 1em;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    .rm-filter {
      color: white;
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}

.section {
  padding: 0px 15px 15px 30px;
  img {
    max-width: 100%;
  }
}