.row
  .col-md-6
    %h4.purple= @vehicle.info
    = render 'vehicles/highlights'

    %h4.purple Rides
    #trip-list.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      = render @trips