.row
  .col-md-4
    .section.text-center
      %h3 Fuel Usage Rate
      = image_tag 'tmp/fuel.png'
  .col-md-4
    .section.text-center
      %h3 Speed/RPM
      = image_tag 'tmp/speed.png'
  .col-md-4
    .section.text-center
      %h3 Engine Temp
      = image_tag 'tmp/temp.png'
.row
  .col-md-4
    .section.text-center
      %h3 Idle Time
      = image_tag 'tmp/idle.png'
  .col-md-4
    .section.text-center
      %h3 Hard Acceleration
      %h2
        1
        %span.purple 2
        3 4 5
      %h3 Hard Braking
      %h2
        1 2 3
        %span.purple 4
        5
  .col-md-4
    .section.text-center
      %h3 Battery Voltage
      %h2.purple 12.3v
      %h3.text-center Emmission Status
      %h2.purple PASS