%table.table.table-hover
  %thead
    %tr
      %th.purple Date
      %th.purple Services
      %th.purple Location
  %tbody
    %tr
      %td 05/26/06
      %td
        %ul
          %li Automatic Transmission fluid and filter change
          %li Air filter replaced
          %li Lights checked
      %td
        Toyota of Runnermede
        %br
        Runnermede, NJ
    %tr
      %td 05/26/07
      %td
        %ul
          %li Automatic Transmission fluid and filter change
          %li Air filter replaced
          %li Lights checked
      %td
        Toyota of Runnermede
        %br
        Runnermede, NJ
    %tr
      %td 05/26/08
      %td
        %ul
          %li Automatic Transmission fluid and filter change
          %li Air filter replaced
          %li Lights checked
      %td
        Toyota of Runnermede
        %br
        Runnermede, NJ
%h3.purple Maintenance