= form_for @vehicle, html: {class: 'form-inline', role: 'form'} do |f|
  .well
    %h3 Edit vehicle options:
    = f.label :style, nil, class: 'sr-only'
    = f.select :style, options_for_select(@styles, @vehicle.style), {include_blank: 'Style'}, class: 'form-control'
    .row
      .col-sm-6.col-xs-12
        .form-group
      .col-sm-6.col-xs-12
        .form-group