@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-Regular.ttf')
@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-Bold.ttf')
  font-weight: bold
@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-Italic.ttf')
  font-style: italic
@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-BoldItalic.ttf')
  font-weight: bold
  font-style: italic

@import "globals/*"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "partials/*"
@import "web/*/*/*"
