@import "globals/**/*",
        "bootstrap-sprockets",
        "bootstrap",
        "lib/**/*",
        "partials/**/*";

// Extra small devices (phones, less than 768px)
// No media query since this is the default in Bootstrap

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  header {
    background-color: $header !important;
  }
  .navbar {
    min-height: 50px;
  }
  #results-circles {
    display: flex;
  }
  h1 {
    &.big-title {
      font-size: 90px;
      line-height: 80px;
    }
  }
  .big-modal {
    width: 750px;
    .modal-body {
      padding: 65px;
    }
  }

  .hoverable {
    .overlay {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
  // .big-modal {
  //   width: 800px;
  //   .modal-body {
  //     padding: 65px;
  //   }
  // }
  .report-img {
    margin: 0;
  }

  .form-big {
    .rvr-only {
      font-size: 90px;
      line-height: 65px;
      padding-top: 7px;
    }
    input {
      &[type="text"] {
        font-size: 90px;
        margin-top: -13px;
      }
      &[type="submit"] {
        border-radius: 10px;
        font-size: 38px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 10px 72px;
      }
    }
  }

  .hoverable {
    .overlay {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

}

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}